
#main_body{
    position: relative;
    width: 1440px;
    margin: auto;
    text-align: center;
}

a:visited {
    color: inherit;

}

nav{
    font-size: 40px;
    color:white;
    list-style-type: none;
    background-color:#355869;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 50px;
    flex: 0 0 auto;

}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;

}

header{
    text-align: left;
    background-image: url("harold.jpg");
    background-repeat: no-repeat;
    padding: 400px 0px 200px 60px;
}

h1, header p{
    color: #355869;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
}

h1{

    font-size: 98px;
    line-height: 119px;
    text-transform: uppercase;
    width: 720px;
}
header p{
    font-size: 48px;
    line-height: 58px;
    margin-top: -40px;
    margin-bottom: -20px;

}

main{
    background: rgb(104,126,242);
    background: linear-gradient(0deg, rgba(104,126,242,1) 0%, rgba(53,88,105,1) 100%);
  
}

main, .fund_page{
    background-color: #687EF2;

}

#flag_page{
    background: url(flag.png) ;
    background-color: #FFFFFF;
    height: 1024px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
}

h2, #price{
    font-size: 64px;
    line-height: 77px;
}
article{
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

h2, article, #price #call_to_action{
    text-align: left;
    padding: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

#price{
    text-align: center;
    color:#FFFFFF;
    font-weight: bold;
    
}

#ellipse{
    width: 1800px;
    height: 371px;
    margin-top: 80px;
    margin-left: -60px;
}

#ellipse, .bubble{
    background-color: #FFFFFF;
    border-radius: 50%;
}

#logo_container{
    width: 1400px;
    padding-top: 130px;
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#ellipse img, .bubble img{
    height: 70px;
}

#call_to_action{
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #687EF2;
    font-weight: bold;
}

input{
    width: 781px;
    height: 98px;
    background: #FFFFFF;
    border: 8px solid #687EF2;
    border-radius: 30px;
    margin-top: 50px;
    font-size: 40px;
}

button{
    width: 300px;
    height: 98px;
    background: #687EF2;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 40px;
    border-width: 0;
    margin-top: 100px;

}

footer{
    color: #FFFFFF;
    font-weight: bolder;
    text-align: left;
    font-size: 32px;
    margin: 20px;
    padding: 20px;
}

/*Fund pages start here */


.bubble{
    position: absolute;
    width: 497px;
    height: 329px;
    right: -100px;
    top: -120px;    

}

.bubble img{

    margin-top: 180px;
    margin-left: 80px;
}

.contacts{
    display: flex;
    justify-content: space-around;
}

.phone_block{
    display: flex;
    font-size: 108px;
    font-weight: bold;
    color: #FFFFFF;
}

.phone_block p{
    margin: 0 20px;
}


.contacts img{
    height: 130px;
    
}

.home_button, .home_button_fund{
    position: fixed;

    width: 120px;
    height: 120px;
    bottom: 20px;
    background: #687ff2fe;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 50%;
}

.home_button{
    right: calc(50% - 700px);

}

.home_button_fund{
    right: 20px;
}
.home_button img, .home_button_fund img{
    height: 70px;
    margin-top: 18px;
}

.eye{
    position: absolute;
    opacity: 0;
    left: 870px;
    top: 155px;
}

.eye:hover {
    opacity: 1;
} 
